aiohttp
aiosignal
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-timeout
attrs
autopep8
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
comm
dataclasses-json
debugpy
decorator
defusedxml
discord
discord.py
executing
fastjsonschema
filelock
frozenlist
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
greenlet
httplib2
huggingface-hub
idna
importlib-metadata
importlib-resources
install
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-server
jupyter-server-terminals
jupyterlab-pygments
jupyterlab-widgets
langchain
MarkupSafe
marshmallow
marshmallow-enum
matplotlib-inline
mistune
multidict
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
openai
packaging
pandocfilters
parso
pexpect
pickleshare
pkgutil-resolve-name
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
Pygments
pyparsing
pyrsistent
python-dateutil
python-json-logger
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
rfc3339-validator
rfc3986-validator
rsa
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
stack-data
tenacity
terminado
tinycss2
tokenizers
tomli
tornado
tqdm
traitlets
transformers
typing-extensions
typing-inspect
uritemplate
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
yarl
zipp
